.countryList {
  width: 100%;

  overflow-x: hidden;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  padding: 0.5rem 0.7rem 2rem 0;
}

/* Chrome, Edge, Safari */
.countryList::-webkit-scrollbar {
  width: 6px;
}

.countryList::-webkit-scrollbar-track {
  background: transparent;
}

.countryList::-webkit-scrollbar-thumb {
  background: var(--color-dark--1);
  border-radius: 10px;
}

.countryList::-webkit-scrollbar-thumb:hover {
  background: var(--color-brand--1);
}

.countryList section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.countryList section h2 {
  margin: 0;
  padding-bottom: 0.8rem;

  font-size: 2rem;
  font-weight: 700;

  color: var(--color-light--1);

  border-bottom: 1px solid var(--color-dark--1);
}
