.logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.icon {
  height: 5.2rem;
  width: 5.2rem;
}

.wordmark {
  color: var(--color-light--2);
  font-size: 2.4rem;
  font-weight: 800;
  letter-spacing: -0.08rem;
  text-transform: none;
}
